{% extends 'base.html.twig' %}

{% block title %}Hello AccountPasswordController!{% endblock %}

{% block content %}
    <h1 class="text-center mb-3">Modifier le mot de passe</h1>
    <div class="d-flex justify-content-center">
        {% if notification %}
            <div class="badge bg-danger text-light my-4" style="width: 500px;">
                {{ notification }}
            </div>
        {% endif %}
    </div>
    
    {{ form(form, { 'attr': {'class': 'form-horizontal'} }) }}
{% endblock %}
